{% load static %}
<style>
    img {
        max-width: 20%;
        height: auto;
    }
    </style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<h1>Hola Mundo</h1>

<h2>{{ NombreLocalidad }}</h2>

<h2>{{ PuntuacionLocalidad }}</h2><br>
<div id="aqui"></dix>
<script>
    var puntaje= JSON.parse("{{PuntuacionLocalidad|escapejs}}")
    for (let i=0; i<puntaje; i++)
    {
        $("#aqui").append('<img src="{% static "appPuntuacion/star.png" %}">');
    }
</script>