{% load static %}
<style>
    img {
        max-width: 10%;
        height: auto;
    }
    </style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<h1>Hola Mundo</h1>

<h2>{{ NombreLocalidad }}</h2>

<h2>{{ MaxPuntuacion }}</h2>

<h2>{{ PuntuacionLocalidad }}</h2><br>
<div id="aqui"></dix>

<script>
    var MaxPuntuacion = parseInt(JSON.parse("{{MaxPuntuacion|escapejs}}"))
    var PuntuacionLocalidad=JSON.parse("{{PuntuacionLocalidad|escapejs}}")

    var estrellas= Math.round((PuntuacionLocalidad*5)/MaxPuntuacion)

    for (let i=0; i<estrellas; i++)
    {
        $("#aqui").append('<img src="{% static "appPuntuacion/star.png" %}">');
    }
</script>